html
   head
      title Welcome Back
      script(src='./views/change_page.js')
  
   body
      
      if(type == "error")
         h3(style = "color:red") #{message}
      
      if(type == "success")
         h1 Welcome Back!
         h3 #{message}
         h3 name: #{person.username}
         h3 password: #{person.password}

         h3 your country is #{country}
         
      button(onclick = "changePage()") change page    